<%= form_tag users_search_path do %>
	<p><%= text_field_tag "q", params[:q] %>
	<%= submit_tag "検索" %></p>
<% end %>
<% unless @search_flag && @search_flag == 1 %>
<%= paginate @users %>
<% end %>
<table>
<% @users.each do |user|%>
<tr>
	<td><%= link_to user.name, user %></td>
	<td>&nbsp; &nbsp; &nbsp;</td>
	<td>&nbsp; &nbsp; &nbsp;</td>
	
	<% if current_user && !(Friendship.find_by(from_user_id: current_user, to_user_id: user)  || Friendship.find_by(from_user_id: user, to_user_id: current_user)||user == current_user) %>
	<td><%= link_to "友達申請" , new_friendship_path(:user_id => user.id) %></td>
	<% end %>
</tr>
<% end %>
</table>

