<table>
	<tr>
		<td><img src="/images/moe.png" /></td>
		<td><h1>Bonjour!</h1></td>
	</tr>
</table>
<% if current_user %>
<p class="user">
<%= current_user.name %> |
<%= link_to "ログアウト", :session, method: :delete,data: { confirm: "ログアウトしますか？" } %>
</p>
<% end %>


<div class="menubar">
<%= menu_link_to "TOP", root_path %>
&nbsp; |&nbsp; <%= menu_link_to "ツイート", :tweets %>
&nbsp; |&nbsp; <%= menu_link_to "ユーザー", :users %>
&nbsp; |&nbsp; <%= menu_link_to "本屋", :books %>
&nbsp; |&nbsp; <%= menu_link_to "統計", stat_index_path %>
</div>
