<% if current_user  %>
<%= link_to "新規書籍登録", new_book_path %>
<% end %>

<%= form_tag edit_multiple_books_path, method: :get do %>
<table>
<tr>
	<td>購入</td>
	<td>タイトル</td>
	<td>値段</td>
</tr>
<% @books.each do |book| %>
<tr>
	<td><%= check_box_tag "book_ids[]", book.id %></td>
	<td><%= link_to book.title, new_buying_path(:book_id => book.id) %></td>
	<td><%= book.price %></td>
</tr>
<% end %>
<%= submit_tag "check for edit" %>

<% end %>
</table>